.container {
  max-width: 130rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-smallest) {
    flex-wrap: wrap;
    align-content: space-around;
    height: 11rem;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);

  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;

  flex: 1;
}

.detail,
.intro {
  font-size: 1.4rem;
  display: flex;
  padding: 2.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }

  .description {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 1 0 60%;
    margin-right: 4.5rem;

    @media only screen and (max-width: $bp-medium) {
      padding: 2rem;
      margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
      margin-right: 0;
      margin-bottom: 3rem;
    }
    /////
    /// section--header
    &__header {
      font-size: 1.4rem;
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}
.intro {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  align-items: center;
  font-size: 1.4rem;
  background-color: var(--color-grey-light-1);
  // border-bottom: var(--line);
  &__link {
    margin-top: 1rem;
    // margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
.user-reviews {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}
